@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="home">
    <h1 class="display-4">Welcome Everybody!</h1>
    <p>Crud con Asp Net Core 5.0, AWS => (Dynamodb y S3)</p>

    <div class="box-image3">
        <div class="box3">
            <img src="~/images/programando.gif" class="programando"/>
        </div>
    </div>


</div>
